<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlabeling.labeling.mapper.DataSplitMapper">
    <insert id="addDataSplit">
        INSERT INTO `data_split`(`dataset_id`, `data_id`, `split_id`) VALUES (#{datasetId}, #{dataId}, #{splitId})
    </insert>
    <insert id="batchAddDataSplit">
        INSERT INTO `data_split`(`dataset_id`, `data_id`,`split_id`)
        VALUES 
            <foreach collection="dataIdList" item="dataId" separator=",">
                (#{datasetID}, #{dataId}, #{splitID})
            </foreach>

    </insert>

    <delete id="deleteDataSplit">
        DELETE FROM `data_split` WHERE `dataset_id`=#{datasetId} AND `data_id`=#{dataId} AND `split_id`=#{splitId}
    </delete>

    <select id="selectDataSplit" resultType="com.dlabeling.labeling.domain.po.DataSplit">
        SELECT
            `id`,
            `dataset_id`,
            `data_id`,
            `split_id`
        FROM `data_split`
        WHERE `split_id` = #{splitId}
    </select>
</mapper>