<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlabeling.labeling.mapper.DatasMapper">
    <insert id="insertData">
        INSERT INTO ${table}(`data_path`, `label_path`) VALUES(#{insertDatas.dataPath}, #{insertDatas.labelPath})
    </insert>
    <update id="updateDatasBatch">

    </update>
    <update id="updateDatas">
        UPDATE ${table}
        <set>
            <foreach collection="datas.labelMap" index="key" item="value" separator="," >
                ${key} = #{value}
            </foreach>
        </set>
        <where>
            `id` = #{datas.id}
        </where>
    </update>

    <select id="selectDataLimit" resultType="map" statementType="STATEMENT">
        SELECT
            *
        FROM ${table}

    </select>
    <select id="selectDataFilterLimit" resultType="java.util.Map">
        SELECT *
        FROM ${table}
        <where>
            <foreach collection="labelValueMap.entrySet()" item="value" index="key" separator="AND">
                <if test="value != '' and value != null">
                    ${key} LIKE CONCAT('%',${value},'%')
                </if>

            </foreach>
        </where>
    </select>
    <select id="selectDatasByIDList" resultType="java.util.Map">
        SELECT *
        FROM ${table}
        <where>
            `id` IN
            <foreach item="item" collection="editDatasList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </select>
    <select id="selectDatasBySplit" resultType="java.util.Map">
        SELECT *
        FROM ${table}
        WHERE `id` IN (
            SELECT `data_id` FROM data_split where dataset_id = #{datasetID} and split_id = #{splitID}
            )
    </select>
    <select id="selectDatasByID" resultType="java.util.Map">
        SELECT *
        FROM ${table}
        WHERE `id`= #{id}
    </select>


</mapper>