<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlabeling.labeling.mapper.InterfaceHistoryMapper">

    <insert id="addInterfaceHistory">
        INSERT INTO `interface_history`(`name`, `interfaece_id`, `dataset_id`, `split_id`, `type`, `create_time`)
        VALUES (#{name}, #{interfaceId}, #{datasetId}, #{splitId}, #{type}, #{createTime})
    </insert>

    <select id="selectInterfaceHistoryVO" resultMap="interfaceHistoryVOMap">
        SELECT
            `interface_history`.id as interfaceHistoryID,
            `interface_history`.name as interfaceHistoryName,
            `interface_history`.`type` as interfaceHistoryType,
            `interface_history`.dataset_id as `datasetID`,
            `interface_history`.interfaece_id as `interfaceAddressID`,
            `interface_history`.create_time as `createTime`,
            `datasets`.name as `datasetName`,
            `interface_address`.interface_name as `interfaceName`,
            `split`.id as splitID,
            `split`.name as splitName,
            `split`.type as splitType,
            `interface_address`.interface_type as `interfaceType`
        FROM `interface_history`
        JOIN datasets ON datasets.id = interface_history.dataset_id
        JOIN split ON split.id = interface_history.split_id
        JOIN interface_address ON interface_history.interfaece_id=interface_address.id
        WHERE interface_history.id = #{id}
    </select>

    <select id="selectAllInterfaceHistory" resultMap="interfaceHistoryVOMap">
        SELECT
            `interface_history`.id as interfaceHistoryID,
            `interface_history`.name as interfaceHistoryName,
            `interface_history`.`type` as interfaceHistoryType,
            `interface_history`.dataset_id as `datasetID`,
            `interface_history`.interfaece_id as `interfaceAddressID`,
            `interface_history`.create_time as `createTime`,
            `datasets`.name as `datasetName`,
            `interface_address`.interface_name as `interfaceName`,
            `split`.id as splitID,
            `split`.name as splitName,
            `split`.type as splitType,
            `interface_address`.interface_type as `interfaceType`
        FROM `interface_history`
                 JOIN datasets ON datasets.id = interface_history.dataset_id
                 JOIN split ON split.id = interface_history.split_id
                 JOIN interface_address ON interface_history.interfaece_id=interface_address.id
    </select>
    <select id="selectInterfaceHistoryBySplitType" resultMap="interfaceHistoryVOMap">
        SELECT
            `interface_history`.id as interfaceHistoryID,
            `interface_history`.name as interfaceHistoryName,
            `interface_history`.`type` as interfaceHistoryType,
            `interface_history`.dataset_id as `datasetID`,
            `interface_history`.interfaece_id as `interfaceAddressID`,
            `interface_history`.create_time as `createTime`,
            `datasets`.name as `datasetName`,
            `interface_address`.interface_name as `interfaceName`,
            `interface_address`.destroy_time as `destroyTime`,
            `split`.id as splitID,
            `split`.name as splitName,
            `split`.type as splitType,
            `interface_address`.interface_type as `interfaceType`
        FROM `interface_history`
                 JOIN datasets ON datasets.id = interface_history.dataset_id
                 JOIN split ON split.id = interface_history.split_id
                 JOIN interface_address ON interface_history.interfaece_id=interface_address.id
        WHERE datasets.id = #{datasetID} AND split.type = #{type}
    </select>
    <select id="selectDatasOfInterfaceHistory" resultType="java.util.Map">
        SELECT *
        FROM ${table}
        WHERE ${table}.id IN
        (SELECT data_id FROM  data_split JOIN interface_history ON data_split.split_id=interface_history.split_id WHERE interface_history.id = #{interfaceHistoryId})

    </select>

    <select id="getAllLabelHistoryItem" resultMap="labelHistoryItemMap">
        SELECT
            `interface_history`.id as interfaceHistoryID,
            `interface_history`.name as interfaceHistoryName,
            `interface_history`.`type` as interfaceHistoryType,
            `interface_history`.create_time as `createTime`,
            `interface_address`.id as interfaceAddressID,
            `datasets`.id as datasetID,
            `datasets`.name as datasetName,
            `interface_address`.interface_type as interfaceType,
            `interface_address`.interface_name as interfaceName,
            `interface_address`.interface_address as interfaceAddress,
            `interface_address`.destroy_time as `destroyTime`,
            `split`.id as splitID,
            `split`.name as splitName,
            `split`.type as splitType,
            count(data_split.id) as splitDataCount

        FROM `interface_history`
        JOIN datasets ON datasets.id = interface_history.dataset_id
        JOIN interface_address ON interface_history.interfaece_id = interface_address.id
        JOIN split ON split.id = interface_history.split_id
        LEFT JOIN data_split ON split.id = data_split.split_id
        WHERE interface_history.type = ${type}
        GROUP BY interface_history.dataset_id, interface_history.split_id, `interface_history`.id, createTime
        ORDER BY createTime DESC ;
    </select>


    <resultMap id="interfaceHistoryVOMap" type="InterfaceHistoryVO">
        <id property="id" column="interfaceHistoryID"/>
        <result property="name" column="interfaceHistoryName"/>
        <result property="type" column="interfaceHistoryType"/>
        <result property="createTime" column="createTime"/>
        <association property="interfaceAddressVO" javaType="InterfaceAddressVO">
            <id property="id" column="interfaceAddressID"/>
            <result property="datasetId" column="datasetID"/>
            <result property="datasetName" column="datasetName"/>
            <result property="interfaceType" column="interfaceType"/>
            <result property="interfaceName" column="interfaceName"/>
            <result property="interfaceAddress" column="interfaceAddress"/>
            <result property="destroyTime" column="destroyTime"/>
        </association>
        <association property="splitVO" javaType="SplitVO">
            <id property="id" column="splitID"/>
            <result property="datasetId" column="datasetID"/>
            <result property="type" column="splitType"/>
            <result property="name" column="splitName"/>
            <result property="dataCount" column="splitDataCount"/>
        </association>
        <association property="datasets" javaType="Datasets">
            <id property="id" column="datasetID"/>
            <result property="name" column="datasetName"/>
        </association>

    </resultMap>
    <resultMap id="labelHistoryItemMap" type="LabelHistoryItem">
        <id property="datasetId" column="datasetID"/>
        <result property="datasetName" column="datasetName"/>
        <association property="interfaceHistoryVOList" resultMap="interfaceHistoryVOMap"/>
    </resultMap>
</mapper>