<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlabeling.labeling.mapper.InterfaceAddressMapper">


    <insert id="addInterfaceAddress">
        INSERT INTO `interface_address`
        <set>
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="true">`dataset_id`,</if>
                <if test="true">`interface_type`,</if>
                <if test="true">`interface_name`</if>
                <if test="true">`interface_address`</if>
                <if test="true">`create_time`</if>
            </trim>
        </set>
        VALUES
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="true">#{datasetId},</if>
                <if test="true">#{interfaceType},</if>
                <if test="true">#{interfaceName},</if>
                <if test="true">#{interfaceAddress},</if>
                <if test="true">#{createTime}</if>
            </trim>
    </insert>

    <update id="updateInterfaceAddress">
        UPDATE `interface_address`
        <set>
            <trim suffixOverrides=",">
                <if test="interfaceType != null"> `interface_type` = #{interfaceType}</if>
                <if test="interfaceAddress != null and interfaceAddress != ''"> `interface_address` = #{interfaceAddress}</if>
                <if test="updateTime != null">`update_time` = #{updateTime}</if>
            </trim>
        </set>
        <where>
            `id` = #{id}
        </where>
    </update>

    <delete id="deleteInterfaceAddressByID">
        DELETE FROM `interface_address`
        WHERE `id` = #{id}
    </delete>

    <select id="selectInterfaceAddressesByDataset" resultType="com.dlabeling.labeling.domain.po.InterfaceAddress">
        SELECT
            `id`,
            `dataset_id`,
            `interface_type`,
            `interface_name`,
            `interface_address`,
            `create_time`,
            `update_time`,
            `destroy_time`
        FROM
            `interface_address`
        <where>
            `dataset_id` = #{datasetId}
        </where>
    </select>
    <select id="selectInterfaceByObj" resultMap="interfaceAddressVOMap" parameterType="InterfaceAddress">
        SELECT
        interface_address.`id` as `id`,
        `dataset_id` as `datasetID`,
        `datasets`.name as `datasetName`,
        `interface_type` as `interfaceType`,
        `interface_name` as `interfaceName`,
        `interface_address` as `interfaceAddress`
        FROM
        `interface_address`
        JOIN datasets ON datasets.id = interface_address.dataset_id
        <where>
            <trim suffixOverrides="AND">
                <if test="id != null">`id` = #{id} AND</if>
                <if test="datasetId != null">`dataset_id` = #{datasetId} AND</if>
                <if test="interfaceType != null ">interface_address.`interface_type` = #{interfaceType} AND</if>
                <if test="interfaceName != null and interfaceName !=''">`interface_name`= #{interfaceName} AND</if>
                <if test="interfaceAddress != null and interfaceAddress !=''">`interface_address` = #{interfaceAddress} AND</if>
            </trim>
        </where>
    </select>
    <resultMap id="interfaceAddressVOMap" type="InterfaceAddressVO">
        <id property="id" column="id"/>
        <result property="datasetId" column="datasetID"/>
        <result property="datasetName" column="datasetName"/>
        <result property="interfaceType" column="interfaceType"/>
        <result property="interfaceName" column="interfaceName"/>
        <result property="interfaceAddress" column="interfaceAddress"/>
    </resultMap>

    <select id="selectInterfaceAddressByID" resultType="com.dlabeling.labeling.domain.po.InterfaceAddress">
        SELECT
            `id`,
            `dataset_id`,
            `interface_type`,
            `interface_name`,
            `interface_address`,
            `create_time`,
            `update_time`,
            `destroy_time`
        FROM
            `interface_address`
        WHERE id = #{id}
    </select>
    <select id="selectAllInterfaceVO" resultMap="interfaceVOMap">
        SELECT
            datasets.id as datasetID,
            datasets.name as datasetName,
            interface_address.id as interfaceID,
            interface_address.interface_type as interfaceType,
            interface_address.interface_name as interfaceName,
            interface_address.interface_address as interfaceAddress
        FROM interface_address
        JOIN datasets on datasets.id = interface_address.dataset_id

    </select>
    <resultMap id="interfaceVOMap" type="InterfaceVO">
        <id property="datasetId" column="datasetID"/>
        <result property="datasetName" column="datasetName"/>
        <collection property="interfaceAddressVOList" ofType="InterfaceAddressVO">
            <id property="id" column="interfaceID"/>
            <result property="datasetName" column="datasetName"/>
            <result property="datasetId" column="datasetID"/>
            <result property="interfaceType" column="interfaceType"/>
            <result property="interfaceName" column="interfaceName"/>
            <result property="interfaceAddress" column="interfaceAddress"/>
        </collection>
    </resultMap>

</mapper>