<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlabeling.labeling.mapper.LabelHistoryMapper">


    <insert id="addLabelHistory">
        INSERT INTO `label_history`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="true">`user_id`,</if>
            <if test="true">`dataset_id`,</if>
            <if test="true">`data_id`,</if>
            <if test="true">`action_type`,</if>
            <if test="true">`before_action`,</if>
            <if test="true">`after_action`,</if>
            <if test="true">`create_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="true">#{userId},</if>
            <if test="true">#{datasetId},</if>
            <if test="true">#{dataId},</if>
            <if test="true">#{actionType},</if>
            <if test="true">#{beforeAction},</if>
            <if test="true">#{afterAction},</if>
            <if test="true">#{createTime},</if>
        </trim>
    </insert>


    <delete id="deleteLabelHistoryByID">
        DELETE FROM `interface_address`
        where `id` = #{id}
    </delete>

    <select id="getLabelHistoryByLabelHistory" resultType="com.dlabeling.labeling.domain.po.LabelHistory">
        SELECT
            `id`,
            `user_id`,
            `dataset_id`,
            `data_id`,
            `action_type`,
            `before_action`,
            `after_action`,
            `create_time`,
            `destroy`
        FROM `label_history`
        <where>
            <trim suffixOverrides="AND">
                <if test="true">`user_id` = #{userId}</if>
                <if test="true">`dataset_id` = #{datasetId}</if>
                <if test="true">`data_id` = #{dataId}</if>

            </trim>
        </where>
    </select>
    <select id="getAllLabelHistoryVO" resultMap="labelHistoryVOMap">
        SELECT
            `label_history`.id as labelHistoryID,
            `label_history`.user_id as userID,
            `label_history`.data_id as dataID,
            `user`.username as username,
            `label_history`.dataset_id as datasetID,
            `datasets`.name as datasetName,
            `label_history`.action_type as actionType,
            `label_history`.before_action as beforeAction,
            `label_history`.after_action as afterAction,
            `label_history`.create_time as createTime
        FROM `label_history`
        JOIN user ON label_history.user_id = user.id
        JOIN datasets ON label_history.dataset_id = datasets.id
    </select>
    <select id="getLabelHistoryVO" resultMap="labelHistoryVOMap">
        SELECT
            `label_history`.id as labelHistoryID,
            `label_history`.user_id as userID,
            `label_history`.data_id as dataID,
            `user`.username as username,
            `label_history`.dataset_id as datasetID,
            `datasets`.name as datasetName,
            `label_history`.action_type as actionType,
            `label_history`.before_action as beforeAction,
            `label_history`.after_action as afterAction,
            `label_history`.create_time as createTime
        FROM `label_history`
        JOIN user ON label_history.user_id = user.id
        JOIN datasets ON label_history.dataset_id = datasets.id
        where `label_history`.id = #{labelHistoryID}
    </select>
    <resultMap id="labelHistoryVOMap" type="LabelHistoryVO">
        <id property="id" column="labelHistoryID"/>
        <result property="userId" column="userID"/>
        <result property="username" column="username"/>
        <result property="datasetId" column="datasetID"/>
        <result property="datasetName" column="datasetName"/>
        <result property="dataId" column="dataID"/>
        <result property="createTime" column="createTime"/>
        <association property="action" column="action">
            <result property="actionType" column="actionType"/>
            <result property="beforeAction" column="beforeAction"/>
            <result property="afterAction" column="afterAction"/>
        </association>
    </resultMap>

</mapper>