<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlabeling.labeling.mapper.SplitMapper">
    <insert id="addSplit" >
        INSERT INTO `split`(`dataset_id`, `name`, `type`,`create_time`) VALUES (#{datasetId}, #{name}, #{type}, #{createTime})
    </insert>
    <update id="updateSplit">
        update split
        <set>
            <trim suffixOverrides=",">
                <if test="name != null and name !=''">`name`=#{name},</if>
            </trim>
        </set>
        <where>
            `split`.id = #{id}
        </where>
    </update>
    <delete id="deleteSplitByID">
        DELETE FROM split where id = #{splitID}
    </delete>

    <select id="selectByDatasetId" resultType="com.dlabeling.labeling.domain.po.Split">
        SELECT
            `id`,
            `dataset_id`,
            `name`,
            `type`,
            `create_time`
        FROM `split`
        WHERE `dataset_id`=#{datasetId} AND `type`=#{type}
    </select>


    <select id="selectSplit" resultType="com.dlabeling.labeling.domain.po.Split">
        SELECT
            `id`,
            `dataset_id`,
            `name`,
            `type`,
            `create_time`
        FROM `split`
        WHERE `dataset_id`=#{datasetId} AND `type`=#{type} AND `name` = #{name}

    </select>
    <select id="getSetItemList" resultMap="setItemMap">
        SELECT
            datasets.id as id,
            datasets.name as datasetName,
            split.id as splitId,
            split.type as splitType,
            split.name as splitName,
            split.create_time as `splitCreateTime`,
            count(dataSplit.data_id) as splitDataCount
        FROM datasets
        JOIN split on datasets.id = split.dataset_id
        LEFT JOIN data_split dataSplit on split.id = dataSplit.split_id
        WHERE split.type = #{type}
        GROUP BY split.id, splitCreateTime
        ORDER BY splitCreateTime DESC ;
    </select>
    <resultMap id="setItemMap" type="SetItem">
        <id property="datasetId" column="id"/>
        <result property="datasetName" column="datasetName"/>
        <collection property="splitVOList" ofType="SplitVO">
            <id property="id" column="splitId"/>
            <result property="datasetId" column="id"/>
            <result property="dataCount" column="splitDataCount"/>
            <result property="name" column="splitName"/>
            <result property="type" column="splitType"/>
            <result property="createTime" column="splitCreateTime"/>
        </collection>
    </resultMap>
</mapper>