<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dlabeling.system.mapper.user.UserInfoMapper">

    <!--  增加用户信息  -->
    <insert id="addUserInfo">
        INSERT INTO user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="true">user_id,</if>
            <if test="email != null and email != ''">email,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="username != null and username != ''">username,</if>
            <if test="true">create_time,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="true">#{userId},</if>
            <if test="email != null and email != ''">#{email},</if>
            <if test="phone != null and phone != ''"> #{email},</if>
            <if test="username != null and username != ''">#{username},</if>
            <if test="true">#{createTime},</if>
        </trim>
        
    </insert>
    
    <!--  修改用户信息  -->
    <update id="updateUserInfo">
        UPDATE user_info
        <set>
            <trim suffixOverrides=",">
                <if test="email != null and email != ''">email = #{email},</if>
                <if test="username != null and username != ''">username = #{username},</if>
                <if test="phone != null and phone != ''">phone = #{phone},</if>
                <if test="privilege != null">privilege = #{privilege},</if>
                <if test="gender != null">gender = #{gender},</if>
                <if test="address != null">address = #{address}</if>
                <if test="true">update_time = #{updateTime}</if>
            </trim>
        </set>
        <where>
            `user_id` = #{userId}
        </where>
    </update>
    
    <!--  删除用户信息  -->
    <update id="deleteUserInfo">
        UPDATE user_info
        SET destroy_time = CURRENT_TIMESTAMP
        <where>
            `user_id` = #{userId}
        </where>
    </update>
    
    <!--  根据id批量查询用户信息  -->
    <select id="fetchBatchUserInfoById" resultType="com.dlabeling.system.domain.po.user.UserInfo" parameterType="java.util.List">
        SELECT
            username,
            email,
            phone,
            privilege,
            gender,
            address
        FROM
            user_info
        <where>
            <if test="userInfoList != null and userInfoList.size() &gt; 0">
                `user_id` IN
                <foreach collection="userInfoList" item="item" open="(" close=")" index="index" separator=",">
                    #{item}
                </foreach>
                
            </if>
        </where>
    </select>
    
    <!--  根据id查询用户信息  -->
    <select id="getUserInfoById" resultType="com.dlabeling.system.domain.po.user.UserInfo">
        SELECT
            username,
            email,
            phone,
            privilege,
            gender,
            address
        FROM
            user_info
        <where>
            user_id = #{userId}
        </where>
    </select>
    
    <!--  根据字段查询用户信息  -->
    <select id="getUserInfoByDetail" resultType="com.dlabeling.system.domain.po.user.UserInfo">
        SELECT
        username,
        email,
        phone,
        privilege,
        gender,
        address
        FROM
        user_info
        <where>
            <trim suffixOverrides="AND">
                <if test="username != null or username != ''"> username = #{username} AND</if>
                <if test="email != null or email != ''"> email = #{email} AND</if>
                <if test="phone != null or phone != ''"> phone = #{phone} AND</if>
                <if test="privilege != null"> privilege = #{privilege} AND</if>
                <if test="gender != null"> gender = #{gender} AND</if>
            </trim>
        </where>
    </select>
    
    <!--  获取使用用户信息  -->
    <select id="getAllUserInfo" resultType="com.dlabeling.system.domain.po.user.UserInfo">
        SELECT
        username,
        email,
        phone,
        privilege,
        gender,
        address
        FROM
        user_info
    </select>


</mapper>
